<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylxx.fx.core.mapper.kondor.kondorrv.KonSpotTradeMapper">
	<!-- 查询页面数据 -->
	<select id="selSpotTrade" resultType="com.ylxx.fx.service.po.Kon_SpotTradeBean">
		SELECT REQUESTDATE,REQUESTTIME,FRONTSERIALDATA,PRODUCTCODE,ACTIONCODE,
		ACTIONTYPE,TRADEORG ,TRADENAME,REMARK,DEALSTATUS,TRADEDATE,TYPEOFEVENT,
		COMMENTS,AMOUNT1,AMOUNT2,SPOTRATE,SPLITRATE,VALUEDATE,DOWNLOADKEY,USERS_SHORTNAME,
		PAIRS_SHORTNAME,FOLDERS_SHORTNAME,CPTY_SHORTNAME,FOLDERS_SPOT1SHORTNAME,
		FOLDERS_SPOT2SHORTNAME,CURRENCIES_SPLITSHORTNAME,CLEARINGMODESSHORTNAME,
		PAIRS_SPLITSHORTNAME,PAIRS_LOCALSHORTNAME,PURPOSESSHORTNAME,RESPONSEDATE,
		RESPONSETIME,KONDORSERIALDATA,TRADESTATUS,ERRORCODE,ERRORMESSAGE,ACCOUNTSTATUS
		FROM KON_SPOTTRADE WHERE FRONTSERIALDATA LIKE '%${rpcNo}%'
		<if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
			AND REQUESTDATE>=#{startDate} and #{endDate}>=REQUESTDATE 
		</if>
		<if test="tradeCode!='All'">
			AND PRODUCTCODE=#{tradeCode}
		</if>
		ORDER BY REQUESTDATE DESC,REQUESTTIME DESC
	</select>
</mapper>