<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace ="com.ylxx.fx.core.mapper.pere.PereYh.PereCustLevelFavruleMapper">
	<insert  id="addCustLevelFavRule"  parameterType="String">
	insert into trd_favruleleve_p004 (OGCD,EXNM,LEVE,BYDS,SLDS,STDT,EDDT) 
	values(#{bean.ogcd,jdbcType=VARCHAR},#{bean.currency,jdbcType=VARCHAR},#{bean.level,jdbcType=VARCHAR},#{bean.byds,jdbcType=VARCHAR},
	#{bean.slds,jdbcType=VARCHAR},#{bean.beginDate,jdbcType=VARCHAR},#{bean.endDate,jdbcType=VARCHAR})
	</insert>	
	<delete id="deleteCustLevelFavRules">
	
	delete from trd_favruleleve_p004 where ogcd =#{ogcd,jdbcType=VARCHAR} and EXNM =#{exnm,jdbcType=VARCHAR} and leve=#{level,jdbcType=VARCHAR}
	
	</delete>
   <select id="exist"  resultType="String">
	select ogcd  from trd_favruleleve_p004 where EXNM=#{exnm,jdbcType=CHAR} and  leve=#{level,jdbcType=CHAR} and ogcd=#{ogcd,jdbcType=CHAR}
	</select>
	
	<update  id="updateRuleByCustLevels">
	
	update trd_favruleleve_p004 set BYDS =#{bean.byds,jdbcType=VARCHAR} ,SLDS =#{bean.slds,jdbcType=VARCHAR} ,STDT =#{bean.beginDate,jdbcType=VARCHAR} ,EDDT = #{bean.endDate,jdbcType=VARCHAR} where ogcd = #{bean.ogcd,jdbcType=VARCHAR} and EXNM =#{exnm,jdbcType=VARCHAR} and
	LEVE= #{bean.level,jdbcType=VARCHAR}
	
	</update>

  <select id="getCustFavRuleByOgcd" parameterType="String" resultType="com.ylxx.fx.service.po.Trd_FavruleOgcd">
	select OGCD,EXNM,BYDS,SLDS,STDT,EDDT from trd_favruleleve_p004 where ogcd = #{ogcd,jdbcType=VARCHAR} and leve =#{level,jdbcType=VARCHAR} order by EXNM
	</select>


</mapper>