<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylxx.fx.core.mapper.kondor.kondorspot.KonMidSpotTradeMapper">
	<!-- 查询页面数据 -->
	<select id="selMidSpotList" resultType="com.ylxx.fx.service.po.Kon_MidSpotTradeBean">
		select FRONTSERIALDATA,PRODUCTCODE,REQUESTDATE,REQUESTTIME,
		ACTIONCODE,ACTIONTYPE,TRADEORG,TRADENAME,REMARK,DEALSTATUS,
		TRADEDATE,TYPEOFEVENT,COMMENTS,AMOUNT1,AMOUNT2,SPOTRATE,
		SPLITRATE,VALUEDATE,DOWNLOADKEY,USERS_SHORTNAME,PAIRS_SHORTNAME,
		FOLDERS_SHORTNAME,CPTY_SHORTNAME,FOLDERS_SPOT1SHORTNAME,
		FOLDERS_SPOT2SHORTNAME,CURRENCIES_SPLITSHORTNAME,CLEARINGMODESSHORTNAME,
		PAIRS_SPLITSHORTNAME,PAIRS_LOCALSHORTNAME,PURPOSESSHORTNAME,SENDSTATE
		FROM KON_MIDSPOTTRADE WHERE FRONTSERIALDATA LIKE '%${rpcNo}%'
		<if test="startDate!=null and startDate!='' and endDate!=null and endDate!=''">
			and REQUESTDATE >= #{startDate} and #{endDate} >= REQUESTDATE
		</if>
		ORDER BY REQUESTDATE DESC,REQUESTTIME DESC
	</select>
</mapper>