<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World示例</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
    href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
    href="../../css/main.css" />

</head>
<body>
	<div>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spring Boot</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#about">关于</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>Spring Boot Web Thymeleaf示例</h1>
            <h2>
                <span th:text="'Message: ' + ${message}"></span>
            </h2>
            <h3>
            	<span th:text="'o.o: ' + ((${usnm}==null)?'':${usnm})">哈哈</span>
            </h3>
            <a th:href="@{home.do}">&nbsp;home&nbsp;&nbsp;</a> 
            <a th:href="@{/zx/}">above&nbsp;&nbsp;</a>
            <a th:href="@{selUser.do}">more&nbsp;&nbsp;</a>
        </div>

    </div>
    <div class="mycss">
    	<h2>
    	<span>oil</span>
    	</h2>
    	 <ul>
            <li><a href='#'>src</a></li>
            <li><a href='#'>static</a></li>
            <li><a href='#'>template</a></li>
       	</ul>
       	<form action="#">
       		<p>
       			<input type="radio" name="sex" id='nv' value='0'/><label for='nv'>女</label>
       		</p>
       		<p>
       			<input type="radio" name="sex" id='na' value='1' checked='checked'/><label for='na'>男</label>
       		</p>
       	</form>
       	<select>
       		<option>####</option>
       		<option>****</option>
       		<option>$$$$</option>
       	</select>
       	<textarea rows="" cols="">
       	</textarea>
       	<p>
       		<input type='button' value='an'/>
       	</p>
       	<p>
       		<input type='submit' value='en'/>
       	</p>
       	<p>
       		<input type='reset' value='on'/>
       	</p>
       	<span id='xas'>dasfsdsa</span>
    </div>
    </div>
    <!-- /.container -->
	<script type="text/javascript"
        src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>