<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>

	<!-- 操作数据库的方言 -->
	<property name="dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>

	<!-- 自动建表create(先drop,再创建) , update(有就更新，没有就创建) -->
	<property name="hbm2ddl.auto">update</property>

	<!-- 显示sql语句， -->
	<property name="show_sql">true</property>
	<!-- 有格式的sql -->
	<property name="format_sql">true</property>

	<!-- 实体映射文件 -->
	<mapping resource="com/sl/www/domain/Department.hbm.xml" />
	<mapping resource="com/sl/www/domain/Role.hbm.xml" />
	<mapping resource="com/sl/www/domain/User.hbm.xml" />
	<mapping resource="com/sl/www/domain/Privilege.hbm.xml" />


</session-factory>
</hibernate-configuration>
