<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0" "
http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ylxx.fx.core.mapper.person.businesspara.FavruleMapper">
	
	<!-- 分行优惠查询所有数据  p001,p002-->
	<select id="SelectFavrule" resultType="com.ylxx.fx.service.po.Favrule">
		select 
		a.ogcd as ogcd,b.ognm as ognm,a.fvid as fvid, 
		a.fvnm as fvnm,a.rule as rule,
		decode (a.stat,'0','启用','1','停用','未知') stat
		from 
		TRD_FAVRULE_${prod} a,trd_ogcd b 
		where 
		a.ogcd=b.ogcd 
		<if test='ogcd == "all"'>
			order by a.ogcd 
		</if>
		<if test='ogcd != "all"'>
			and a.ogcd = #{ogcd} 
			order by a.ogcd
		</if>
	</select>
	
	
	
	
	
	<!-- 开启 -->
	<update id="Begin">
		update trd_favrule_${prod} set stat = 0
		where trim(ogcd) = #{ogcd} and trim(fvid) = #{fvid}
	</update>
	
	<!-- 关闭 -->
	<update id="End">
		update trd_favrule_${prod} set stat = 1
		where trim(ogcd) = #{ogcd} and trim(fvid) = #{fvid}
	</update>
	
	<select id="selectPrice" resultType="com.ylxx.fx.service.po.FavourRule">
		select exnm myLabel,exnm myValue from CMM_CURRMSG_${prod} order by extp
	</select>
	
	<select id="SelChann" resultType="String">
		select qdnm from TRD_CHANNEL_${prod} where  qdno = #{qdno}
	</select>
	
	<select id="SelClient" resultType="String">
		select tynm from FX_CUTYT_${prod} where  trim(cuty)=#{cuty}
	</select>
	
	<update id="onsave">
		update trd_favrule_${prod} set rule = #{rule}
		where trim(ogcd) = #{ogcd} and trim(fvid) = #{fvid}
	</update>
	
	<insert id="inssRule" >
		insert into trd_favrule_p001  select distinct
		#{ogcd},
		fvid,fvnm,'int getvar(String para){ int fvda=0;return fvda;}','0' from trd_favrule_p001 where fvid='F01'
		UNION 
		select distinct
		#{ogcd},
		fvid,fvnm,'int getvar(String para){ int fvda=0;if(para.equals(\"USDJPY\")) fvda=1;
		else if(para.equals(\"AUDUSD\")) fvda=1;else if(para.equals(\"GBPCAD\")) fvda=0;
		else if(para.equals(\"EURJPY\")) fvda=0;else if(para.equals(\"CHFCAD\")) fvda=0;
		else if(para.equals(\"HKDJPY\")) fvda=0;else if(para.equals(\"CHFJPY\")) fvda=0;
		else if(para.equals(\"EURGBP\")) fvda=0;else if(para.equals(\"AUDCAD\")) fvda=0;
		else if(para.equals(\"CADHKD\")) fvda=0;else if(para.equals(\"AUDJPY\")) fvda=0;
		else if(para.equals(\"GBPHKD\")) fvda=0;else if(para.equals(\"EURAUD\")) fvda=0;
		else if(para.equals(\"GBPAUD\")) fvda=0;else if(para.equals(\"EURCAD\")) fvda=0;
		else if(para.equals(\"GBPJPY\")) fvda=0;else if(para.equals(\"GBPCHF\")) fvda=0;
		else if(para.equals(\"EURCHF\")) fvda=0;else if(para.equals(\"USDHKD\")) fvda=1;
		else if(para.equals(\"CHFHKD\")) fvda=0;else if(para.equals(\"GBPUSD\")) fvda=1;
		else if(para.equals(\"CADJPY\")) fvda=0;else if(para.equals(\"USDCAD\")) fvda=1;
		else if(para.equals(\"AUDHKD\")) fvda=0;else if(para.equals(\"AUDCHF\")) fvda=0;
		else if(para.equals(\"EURHKD\")) fvda=0;else if(para.equals(\"USDCHF\")) fvda=1;
		else if(para.equals(\"EURUSD\")) fvda=1;return fvda;}','0' from trd_favrule_p001 where fvid='F02'
		UNION
		select distinct
		#{ogcd},
		fvid,fvnm,'int getvar(String para){ int fvda=0;return fvda;}','0' from trd_favrule_p001 where fvid='F04'
		UNION 
		select distinct 
		#{ogcd},
		fvid,fvnm,#{xl},'0'
		from trd_favrule_p001 where fvid='F03'
		UNION select distinct 
		#{ogcd},
		fvid,fvnm,'0','0' from trd_favrule_p001 where fvid='F05'
	</insert>
	
	<!-- 渠道优惠,下拉框 -->
	<select id="SelctChannel" resultType="java.util.HashMap">
		select QDNO,QDNM from TRD_CHANNEL_${prod} 
		where QDNM not in('柜面') order by  QDNO
	</select>
	<!-- 客户下拉框 -->
	<select id="select" resultType="java.util.HashMap">
		select CUTY,TYNM from FX_CUTYT_${prod} order by cuty
	</select>
</mapper>