<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0" "
http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ylxx.fx.core.mapper.person.businesspara.RegmsgInfoMapper">
	<!-- 查询所有 -->
	<select id="selectRegmsgInfoList" resultType="com.ylxx.fx.service.po.RegmsgBean">
		select * from (select m.*,rownum rn 
		from (select b.ognm,nvl(a.rgog,'网银') as rgnm,a.TRAC,a.CUNO,a.CUAC,
		decode(a.CATY,'0','折','1','卡','未知') CATY,
		decode(a.REFG,'0','签约','1','解约','未知') REFG,
		decode(a.CUTY,'1','钻石级','2','金卡级','3','银卡级','4','普通级','') CUTY,
		a.OGCD,a.RGOG,a.RGTL,a.RGDT,a.RGTM,
		a.CRDT,a.CRTM,a.CENO,a.RMNO,a.LMTA,
		a.LYTA,a.TYTA,a.PDJF,a.DYJF,a.JYJF,
		a.ZSJF,a.JLJF,a.BYJF,a.JZJF,
		a.TZJF,a.RGID 
		from trd_regmsg_${userProd} a,trd_ogcd b 
		where a.ogcd=b.ogcd and a.refg = '0'
		<if test='strcuno != ""'>
			and a.CUNO = #{strcuno} 
		</if>
		<if test='strcuac != ""'>
			and a.CUAC = #{strcuac} 
		</if>
		<if test='comaogcd != "" and combogcd != ""'>
			<if test='comaogcd == "0001" and combogcd == "all"'>
			</if>
			<if test='comaogcd == "0001" and combogcd != "all"'>
				and b.orgn = #{combogcd}  
			</if>
			<if test='comaogcd != "0001" and combogcd == "all"'>
				and b.orgn = #{comaogcd}
			</if>
			<if test='comaogcd != "0001" and combogcd != "all"'>
				and b.orgn = #{combogcd}
			</if>
		</if>
		order by a.RGDT desc,a.RGTM desc ) m) n
	</select>
</mapper>