<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0" "
http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ylxx.fx.core.mapper.person.businesspara.TradeCalendarMapper">
	
	<!-- 查询所有日历规则 -->
	<select id="selectCalenderRuleList" resultType="com.ylxx.fx.service.po.calendar.CalendarVO">
		select 
		CALENDARID, CALENDARNAME,
		BEGINDATE, ENDDATE,
		BEGINWEEK, ENDWEEK,
		BEGINTIME, ENDTIME,
		levelType, FLAG, isquantian
		from TRD_CALENDARRULES order by leveltype,calendarid
	</select>
	
	<!-- 修改 -->
	<update id="updateCalendarRule">
		update trd_calendarrules 
		set 
		BEGINTIME=#{calVo.beginTime},ENDTIME=#{calVo.endTime},
		BEGINDATE=#{calVo.beginDate},ENDDATE=#{calVo.endDate},
		BEGINWEEK=#{calVo.beginWeek},ENDWEEK=#{calVo.endWeek},
		FLAG=#{calVo.flag},LEVELTYPE=#{calVo.levelType},
		CALENDARNAME=#{calVo.calendarName},ISQUANTIAN=#{calVo.isquantian} 
		where CALENDARID=#{calVo.calendarID}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteCalendaRule">
		delete from trd_calendarrules 
		where trim(CALENDARID)=#{calendarid}
	</delete>
	<delete id="deleteProCalendarRule">
		delete from trd_calendar 
		where trim(CALENDARID)=#{calendarid}
	</delete>
	<delete id="deletePriceRecCalendarRule">
		delete from qut_calendara where trim(CALENDARID)=#{calendarid}
	</delete>
	<delete id="deletePriceJiaCalendarRule">
		delete from qut_calendarb where trim(CALENDARID)=#{calendarid}
	</delete>
	
	<!-- 新增日历规则 -->
	<insert id="insertCalendarRule">
		insert into 
		trd_calendarrules(CALENDARID,LEVELTYPE,ENDDATE,BEGINTIME,ENDTIME,BEGINDATE,BEGINWEEK,ENDWEEK,FLAG,ISQUANTIAN,CALENDARNAME) 
		values(
		#{calVo.calendarID},#{calVo.levelType},
		#{calVo.endDate},#{calVo.beginTime},
		#{calVo.endTime},#{calVo.beginDate},
		#{calVo.beginWeek},#{calVo.endWeek},
		#{calVo.flag},#{calVo.isquantian},
		#{calVo.calendarName})
	</insert>
	
	<!-- 新增，获取UUid -->
	<select id="selCalId" resultType="String">
		select max(calendarID) as maxid from TRD_CALENDARRULES where levelType=#{level}
	</select>
	
</mapper>