<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylxx.fx.core.mapper.jsh.JshErrorCodeMapper">
	<select id="selErrorCodeMsg" resultType="java.util.HashMap">
		select * from TRD_ERRORCODE 
		<where>
		<if test='ercd!=null and !ercd.equals("")'>
			ercd like concat(concat('%',#{ercd}),'%') or 
			ertx like concat(concat('%',#{ercd}),'%') or
			erin like concat(concat('%',#{ercd}),'%')
		</if>
		</where>
		order by ercd
	</select>
	<select id="selErrorCodeCount" resultType="int">
		select count(ercd) from TRD_ERRORCODE where ercd=#{ercd}
	</select>
	<insert id="insertErrorCode">
		insert into TRD_ERRORCODE(ercd,ertx,erin) values(#{ercd},#{ertx},#{erin})
	</insert>
	<update id="updateErrorCode">
		update TRD_ERRORCODE set ertx=#{ertx}, erin=#{erin} where ercd=#{ercd}
	</update>
</mapper>