<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org/DTD Mapper 3.0" "
http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylxx.fx.core.mapper.jsh.JshPdtBrnchPriceMapper">
	<select id="selJshPdtBrnchPrice" resultType="HashMap">
		select exnm, nemd, neby, nesl,mdtm, vltm,trfg from qut_pdtBrnch_p004
		where 1=1
		<if test="!''.equals(exnm) and exnm !=null">
			and exnm=#{exnm,jdbcType=CHAR}
		</if>
		<if test="!''.equals(trfg) and trfg !=null">
			and trfg=#{trfg,jdbcType=CHAR}
		</if>
	</select>
	<insert id="insJshPdtBrnchPrice">
		insert into qut_pdtBrnch_p004
		(exnm,trfg)
		values(#{pdtBrnchPrice.exnm,jdbcType=CHAR},#{pdtBrnchPrice.trfg,jdbcType=CHAR})
	</insert>
	<update id="updJshPdtBrnchPrice">
		update qut_pdtBrnch_p004
		set
		exnm=#{pdtBrnchPrice.exnm,jdbcType=CHAR},
		trfg=#{pdtBrnchPrice.trfg,jdbcType=CHAR}
		where exnm=#{pdtBrnchPrice.exnm,jdbcType=CHAR}
	</update>
	<delete id="delJshPdtBrnchPrice">
		delete qut_pdtBrnch_p004
		where exnm = #{pdtBrnchPrice.exnm,jdbcType=CHAR}
	</delete>
	<select id="selBrnchExnmExist" resultType="int">
		select count(*) from qut_pdtBrnch_p004 where
		exnm=#{pdtBrnchPrice.exnm,jdbcType=CHAR}
	</select>
 	<select id="selJshBrnchExnm" resultType="HashMap">
		select exnm from qut_pdtBrnch_p004
	</select>
</mapper>