@charset "UTF-8";
@import './reset.css';
@import './style.css';
.wrap{
	width: 100%;
	height: 100%;
	overflow: hidden;"src/main/webapp/css/style.scss"
}
.left{
	height: 100%;
	width: calc(21.43rem*0.85);
	width:230px\9;
	position: absolute;
	left: 0;
	top: 0;
}
.right{
	height: 100%;
}
.topleft{
	 width: 100%;
    height: 60px;
	background: #4877e6;
    border-right: 1px solid #ccc;
}
.topleft img{
	display:inline-block;
}
.topleft .log1{
    position: absolute;
    top: 20px;
    left: 5px;
    width: 54px;
    height: 48px;
    left: 34px;
    top: 5px;
}
.topleft .log2{
	position: absolute;
    right: 19px;
    top: 20px;
}
.botleft{
	width: 100%;
	height: 100%;
}
.lockbtn{
	width: 80px;
}
.lockbtn img{
  width: 16px;
  height:16px;
  position: relative;
  top: 3px;
  left: -3px;
}
.center{
	position:relative;
	width: 100%;
	height:calc(7.14rem*0.78);
	height:70px\9;
	border-bottom: 1px solid #E4E9EC;
	border-right: 1px solid #E4E9EC;
	text-align:center;
	//padding-bottom:12px;
}
.center img{
	position:absolute;
	top: 19px;
	left:33px;
	width: 35px;
	height: 35px;
}
.center .loginus{
	position: absolute;
    top: 21px;
    left: 76px;
}
.center .username{
	position: absolute;
    top: 36px;
    left: 73px;
}
/* .center p{
	margin-top: 8px;
} */
.siderbars{
	width: 100%;
	margin-left: 15px;
	margin-top: 30px;
}
.siderbars>li{
	line-height: 40px;
}
.siderbars li a{
	color:#000;
}
.leftlist{
	height: 81%;
	overflow-y:auto;
	overflow-x: hidden;
	margin-left:25px; 
}
.body{
	padding:30px;
}
html,body{
	scrollbar-face-color:#f8f8f8;
	scrollbar-shadow-color:#eeeeee;
	scrollbar-3dlight-color:#eeeeee;
	scrollbar-arrow-color:#fff; 
	scrollbar-track-color:#fff;
	scrollbar-darkshadow-color:#fff; 
}

::-webkit-scrollbar{width: 5px; background-color:#fff;}
::-webkit-scrollbar-track  
{  
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */ 
    border-radius: 10px;  
    background-color: #blue;  
}  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #F8F8F8;  
}